<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create table</title>
</head>
<body>
    <h1>Create table</h1>
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
    {% if table_number %}
        <div class="success">Table {{ table_number }} Sucess！</div>
    {% endif %}
    <form method="post" action="{% url 'create_table' %}">
        {% csrf_token %}
        <label for="table_number">Table number:</label>
        <input type="text" id="table_number" name="table_number" required>
        <input type="submit" value="Create table">
    </form>
    <a href="{% url 'table_list' %}">Return</a>
</body>
</html>