<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table list</title>
</head>
<body>
    <h1>Table list</h1>
    <ul>
        {% for table in tables %}
            <li>
                Table {{ table.table_number }} -
                <a href="{% url 'qr_code_view' table.table_number %}">View QR Code</a>
            </li>
        {% empty %}
            <li>No record</li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_table' %}">Create table</a>
</body>
</html>